Flask==2.2.5
Werkzeug==2.2.3
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu
numpy
Pillow
opencv-python
realesrgan
basicsr
discord.py
requests
