Flask==2.2.5
Werkzeug==2.2.3
# Use official PyTorch CPU wheels for compatibility
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0

numpy
Pillow
opencv-python
basicsr
realesrgan
discord.py
requests
